# vim
*.sw*

*.o

Makefile
config.log
config.status
Makefile.in
aclocal.m4
autom4te.cache/
configure
depcomp
doc/Makefile.in
install-sh
missing
src/Makefile.in
src/dbgen/Makefile.in
doc/Makefile
src/Makefile
src/dbgen/.deps/
src/dbgen/Makefile
src/dbgen/dbgenssbm
src/dbgen/qgen
